/*Cabecera*/
    header{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
      header > div:first-child{
        width: 84%;
        height: auto;
        margin:auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .open-menu{
        display: none;  
        font-size: 1.5em;
        color:#545454;
        cursor: pointer;
      }
        .logo{
          width: auto;
        }
          .logo img{
            height: 100px;
          }
        .informacion{
          width: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
          .informacion section{
            width: 360px;
            display: flex;
            justify-content: space-between;
          }
            .informacion section div{
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              font-family: 'PT Sans Regular';
            }
            .informacion section div:first-child{
              width: 20%;
            }
            .informacion section div:last-child{
              width: 75%;
            }
              .informacion section div span{
                width: 100%;
                padding:5px 5px;
                word-wrap: break-word;
              }
                .informacion section div:first-child span{
                  font-size: 1.8em;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color:#F17D16;
                }
                .informacion section div:last-child span:first-child{
                  color:rgba(68,68,68,.8);
                  font-size: 1em;
                }
                .informacion section div:last-child span:last-child{
                  color:#444444;
                  font-size: 1.2em;
                }
/*Menu*/
.menu{
  width: 100%;
  background:#231955;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
  .menu > div{
    width:84%;
    margin:auto;
    display: flex;
    justify-content: space-between;
  }
    .menu > div > ul{
      width:auto;
    }
    .menu > div >  ul li{
      height: 100%;
      width: auto;
    }
      .menu > div > ul > li{
        position: relative;
        display: flex;
        align-items: center;
      }
      .submenu > span{
        position: absolute;
        top: 12px;
        right: 5%;
        width: 25px;
        height: 25px;
        background:#ddd;
        color:rgba(84,84,84,.8);
        font-size: 1em;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
        .submenu > span:after{
          content:'+';
          position: absolute;
          top: auto;
          left: auto;
        }
        .menu  div ul li a{
          font-family: 'PT Sans Bold';
          padding:20px 10px; 
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
        .menu > div > ul > li > a{
          color:#fff;
        } 
        .menu > div >  ul > li > a:hover{
          color:#F17D16;
        }
        .menu > div >  ul:first-child li a{
          letter-spacing: 1px;
          font-size: .9em;
        }
        .menu > div >  ul:first-child > li > ul{
          position: absolute;
          top: 100%;
          height: auto;
          width: 300px;
          display: none;
          flex-wrap: wrap;
          z-index: 1000;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        menu > div >  ul:first-child > li > ul > li{
          width: 100%;
        }
          .menu > div >  ul:first-child > li > ul > li a{
            color:#fff;
            background:#F17D16;
            padding:10px 20px; 
            letter-spacing: 1px;
            font-family: 'PT Sans Regular';
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
          .menu > div > ul:first-child > li > a.active{
            color:#F17D16;
          }
          .menu > div >  ul:first-child > li > ul > li a.active{
            color:#F17D16;
            background: #fff;
          }
          .menu > div >  ul:first-child > li > ul > li a:hover{
            color:#F17D16;
            background: #fff;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
    .menu > div >  ul:first-child > li:hover > ul{
      display: block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    /*Menu Fixed*/
    .fixed{
      position: fixed;
      top: 0;
      z-index: 200;
      display: flex;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
    }               
/*banner*/
.banner{
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
        .banner-contenido{
          width: 200%;
          height: auto;
          display: flex;
          position: relative;
          justify-content: space-between;
        }
          .banner-contenido:before{
            content: "";
            left: 0;
            top: 0;
            width: 200%;
            height: 100%;
            position: absolute;
            background: rgba(68, 68, 68,.2);
            z-index: 1;
          }
          .banner-contenido article {
            width: 100%;
            display: flex;
            position: relative;
            align-items: center;
          }
  /*banner portada*/
  #portada .banner-contenido article{
    height: 500px;
  }
    #portada .banner-contenido article section {
      position: absolute;
      top: auto;
      opacity: 0;
      left: 50%;
      width: 70%;
      z-index: 2;
    }
    #portada .banner-contenido article.article section{
      left: 8%;
      opacity: 1;
      transition:all .8s ease;
      -webkit-transition: all .8s ease ;
      -moz-transition: all .8s ease ;
      -ms-transition: all .8s ease ;
      -o-transition:  all .8s ease;
    }
      #portada .banner-contenido article section h3{
        color:#fff;
        font-family: 'PT Sans Bold';
        letter-spacing: 1px;
        font-size: 3em;
        margin-bottom: 20px;
      }
      #portada .banner-contenido article section p{
        color:#fff;
        font-family: 'PT Sans Bold';
        font-size: 1.2em;
        margin-bottom: 30px;
      }
      #portada .banner-contenido article section a{
        color:#fff;
        border-radius: 3px;
        padding:10px 40px;
        font-family: 'PT Sans Regular';
        font-size: .85em;
        background: #F17D16;
        border:solid 1px #F17D16;
        transition:all .8s ease;
        -webkit-transition: all .8s ease ;
        -moz-transition: all .8s ease ;
        -ms-transition: all .8s ease ;
        -o-transition:  all .8s ease;
      }
      #portada .banner-contenido article section a:hover{
        background:none;
        border:solid 1px #F17D16;
        color:#F17D16;
        transition:all .8s ease;
        -webkit-transition: all .8s ease ;
        -moz-transition: all .8s ease ;
        -ms-transition: all .8s ease ;
        -o-transition:  all .8s ease;
      }

/*Estilos divisiones*/
.division-portada{
  width: 84%;
  margin:50px 8%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
  .division-portada-titulo{
    width: 100%;
    text-align: center;
  }
   .division-portada-titulo h3{
      font-size: 1.5em;
      margin-bottom: 30px;
      color: #444444;
      position: relative;
      display: flex;
      justify-content: center;
    }
    .division-portada-titulo h3:before{
      content:"";
      position: absolute;
      left: auto;
      bottom: -50%;
      width: 15%;
      display: flex;
      height:1px;
      background: rgba(84, 84, 84,.2);
    }
    .division-portada-titulo div{
      margin-bottom: 30px;
      width: auto;
    }
    .division-portada-titulo div i{
      padding:5px 9px;
      border:solid 1px rgba(84, 84, 84,.7);
      color:rgba(84, 84, 84,.7);
      cursor: pointer;
    }
      .division-portada-titulo div i:hover{
        border:solid 1px #545454;
        color:#545454;
      }
    .division-portada-titulo p{
      margin-bottom: 40px;
    }
  .slider-contenido{
    width: 100%;
    position: relative;
    overflow: hidden;
  }
    .division-content .image{
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    } 
      .division-content .image:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .division-content .image img{
        display: block;
      }
      .division-content .image a{
        top: auto;
        left: auto;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:50%;
        color:#444444;
        background:#fff;
        font-size: 0;
      }
      .division-content .image a:hover{
        color:#fff;
        background:#F17D16;
        transition: all .2s ease;
        -webkit-transition: all .2s ease ;
        -moz-transition: all .2s ease ;
        -ms-transition: all .2s ease ;
        -o-transition:  all .2s ease;
      }
        .division-content .image:hover:before{
          background:rgba(0, 0, 0, 0.3);
          transition: all .2s ease;
          -webkit-transition: all .2s ease ;
          -moz-transition: all .2s ease ;
          -ms-transition: all .2s ease ;
          -o-transition:  all .2s ease;
        }
          .division-content .image:hover a{
            padding:15px 16px;
            font-size: 1.05em;
            transition: all .2s ease;
            -webkit-transition: all .2s ease ;
            -moz-transition: all .2s ease ;
            -ms-transition: all .2s ease ;
            -o-transition:  all .2s ease;
          }
          .slider-contenido .controls{
            position: absolute;
            left: 48%;
            width: 4%;
            bottom: 0;
            display: flex;
            justify-content: space-between;
          }
            .slider-contenido .controls i{
              font-size: .8em;
              color:rgba(84,84,84,.2);
              cursor: pointer;
            }
            .slider-contenido .controls i.click{
              color:#F17D16;
            }
/*Slider Tipo 1*/
    .type-1{
      display: flex;
      width: 134%;
      justify-content: space-between;
    }
     .type-1 article{
        width: 24%;
        height: 380px;
      }
          .type-1 article img{
            width: 100%;
            display: flex;
            height: 180px;
          }
          .type-1 article h4{
            margin-bottom: 20px;
            color:#545454;
            position: relative;
            font-family: 'PT Sans Regular' !important;
          }
          .type-1 article p{
            margin-bottom: 20px;
          }
/*Slider Tipo 2*/
.type-2{
  width: 49%;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden;
  margin-bottom:20px;
}
  .type-2 > div{
    width: 200%;
    display: flex;
    transition: all .2s ease;
    -webkit-transition: all .2s ease ;
    -moz-transition: all .2s ease ;
    -ms-transition: all .2s ease ;
    -o-transition:  all .2s ease;
  }
    .type-2 > div article{
      width: 100%;
    }
  .type-2 h2{
    font-size: 1.2em;
    color:#444444;
    margin-top: 15px;
    margin-bottom: 15px;
  }
    .type-2 p{
      margin-bottom: 15px;
    }
  .slider-description{
    width: 49%;
    height: auto;
    float: right;
  }
    .slider-description > div{
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .slider-description h3{
      color:#F17D16;
      font-size: 1.8em;
      margin-right: 20px;
    }
    .slider-description h4{
      color:#444444;
      margin-top: 12px;
    }
    .slider-description p{
      margin-bottom: 20px;
    }
/*Slider Tipo 3*/
.type-3{
  display: flex;
  width: 200%;
  margin-bottom: 20px;
  justify-content: space-between;
}
 .type-3 article{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;
  }
      .type-3 article img{
        width: 120px;
        display: flex;
        height: 120px;
       
      }
      .type-3 article div{
        width: 60%;
      }
        .type-3 article div h4{
          color:#444444;
          position: relative;
          margin-bottom: 40px;
        }
          .type-3 article div h4:before{
            content:"";
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: -20px;
            left: 0;
            background:rgba(84,84,84,.2);
          }
/*Division con fondo grande*/
.background{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  .background:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    background:rgba(0, 0, 0, .4);
  }
  .background .division-portada-titulo h3{
    color:#fff !important;
    margin-top: 40px;
  }
  .background .division-portada-titulo h3:before{
    background: #fff;
  }
  .background .division-portada-titulo p{
    color:#fff !important;
  }
/*Cuadros de la Division Portada*/
.cuadros{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 20px;
  align-content: space-between;
  justify-content: space-between;
}

  .cuadros article{
    width: 31%;
    height: 220px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .cuadros article img{
      width: 100%;
      height: 100%;
      display: block;
    }
      .cuadros article > div{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50%;
        background:rgba(0, 0, 0, .8);
        opacity: 0;
        display: flex;
        padding: 10px 10px;
        align-items: center;
        justify-content: center;
      }
        .cuadros article > div section{
          width: auto;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
          .cuadros article > div section h4{
            width: 100%;
            text-align:center;
            color:#fff;
            font-size: 1.1em;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .cuadros article > div section h5{
            width: 100%;
            text-align:center;
            color:#fff;
          }
        .cuadros article a{
          color:#fff;
          font-family: 'PT Sans Regular';
          font-weight: normal;
        }
        .cuadros article > .link{
          position: absolute;
          top: 20%;
          left: auto;
          padding:15px 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius:50%;
          background:#F17D16;
          z-index: 1;
          opacity: 0;
        }
    .cuadros article:hover > div{
      top: 50%;
      transition: all .4s ease;
      -webkit-transition: all .4s ease ;
      -moz-transition: all .4s ease ;
      -ms-transition: all .2s ease ;
      -o-transition:  all .4s ease;
      opacity: 1;
    }
    .cuadros article:hover .link{
      top: 40%;
      opacity: 1;
      transition: all .4s ease;
      -webkit-transition: all .4s ease ;
      -moz-transition: all .4s ease ;
      -ms-transition: all .2s ease ;
      -o-transition:  all .4s ease;
    }
      .cuadros article .link:hover{
        background:rgba(241, 125, 22,.8);
      }
      .cuadros article > div a:hover{
        color:#F17D16;
      }
        .division-contenido{
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 40px;
        }
          .division-contenido > div{
            width: 49%;
          }
            .division-contenido .video iframe{
              width: 100%;
              height: 300px;
              margin-bottom: 20px;
            }
            .division-contenido .video h3{
              color:#fff;
              font-family: 'PT Sans Bold';
              letter-spacing: 1px;
            }
            .division-contenido .legend > div{
              width: 100%;
              display: flex;
              margin-bottom: 30px;
              justify-content: space-around;
              align-items: center;
            }
              .division-contenido .legend > div > div:first-child{
                width: 60px;
                color:#fff;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2em; 
                border-radius: 50%;
                background:#F17D16;
              }
              .division-contenido .legend > div > div:last-child{
                width: 80%;
              }
              .division-contenido .legend > div > div h4{
                word-wrap: break-word;
                color:#fff;
                margin-bottom: 15px;
                font-family: 'PT Sans Regular';
              }
              .division-contenido .legend > div > div p{
                word-wrap: break-word;
                color:#fff;
                font-family: 'PT Sans Regular';
              }
footer{
  width: 100%;
  height: auto;
  background: rgba(35, 25, 85,.9);
  position: relative;
}
  footer:before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #231955;
  }
  .footer-content{
    width: 84%;
    margin:auto;
    padding: 80px 0px;
  }
    .footer-content nav{
      width: 100%;
    }
      .footer-content nav > ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
        .footer-content nav > ul > div{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }
        .footer-content nav > ul > div:first-child{
          width: 70%;
        }
        .footer-content nav > ul > div:last-child{
          width: 25%;
        }
          .footer-content nav > ul > div:first-child > li{
            width: 30%;
            display: flex;
            flex-wrap: wrap;
          }
          .footer-content > nav > ul > div:last-child > li{
            width: 100%;
          }
            .footer-content nav > ul > div > li > h4{
              width: 100%;
              font-size: 1.1em;
              margin-bottom: 20px;
              color:#fff;
            }
            .footer-content nav > ul > div > li > p{
              width: 100%;
              color:rgba(255,255,255,.8) !important;
              word-wrap: break-word;
            }
            .footer-content nav > ul > div > li > ul{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: flex-start;
            }
              .footer-content nav > ul > div > li > ul li{
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                color:rgba(255,255,255,.8);
                font-size: .95em;
              }
                .footer-content nav > ul > div > li > ul > div {
                  width: 46%;
                }
                .footer-content nav > ul > div > li > ul > div > li a{
                  color:#fff;
                  width: 100%;
                  display: block;
                  word-wrap: break-word;
                  font-family: 'PT Sans Regular';
                }
                .footer-content nav > ul > div > li > ul > div > li a:hover{
                  color:#F17D16;
                }
                .footer-content nav > ul > div > li > ul > li > span{
                  width: 10%;
                  margin-right: 10px;
                }
                .footer-content nav > ul > div > li > ul > li > i{
                  width: auto;
                  font-size:3em;
                  color:#F17D16;
                  margin-right: 20px;
                }
                .footer-content nav > ul > div > li > ul > li > p{
                  width: auto;
                  color:rgba(255,255,255,.8) !important;
                  word-wrap: break-word;
                }
                  .footer-content nav > ul > div:last-child > li > ul > li form{
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                  }
                  .footer-content nav > ul > div:last-child > li > ul > li form label{
                    width: 100%;
                    height: auto;
                    display: flex;
                  }
                    .footer-content nav > ul > div:last-child > li > ul > li form label input{
                      width: 80%;
                      border:none;
                      padding:10px 10px;
                      color:#545454;
                      font-family: 'PT Sans Regular';
                    }
                    .footer-content nav > ul > div:last-child > li > ul > li form label button{
                      border:none;
                      background:#F17D16;
                      color:rgba(35, 25, 85,.8);
                      padding:10px 10px;
                    }
                    .footer-content nav > ul > div:last-child > li > ul > li form label button i{
                      font-size: 1.5em;
                    }
@media screen and (min-width:800px) and (max-width:1024px){
  
}
@media screen and (min-width:480px) and (max-width:800px){
  
}
@media screen and (min-width:100px) and (max-width:480px){
  /*Cabecera*/
    header{
      align-items: center;
    }
      .logo{
        margin-left: 5%;
      }
      .open-menu{
        display: flex;
        padding:5px 5px;
        margin-right: 5%;
      }
      .informacion{
        display: none !important;
      }
      .menu{
        background:#fff;
        z-index: 0;
        display: none;
      }
        .menu > div{
          width: 100%;
        }
          .menu > div > ul:last-child{
            display: none;
          }
          .menu > div > ul:first-child{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
          }
            .menu > div > ul:first-child li{
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              position: relative;
              border-top: solid 1px rgba(68, 68, 68,.2);
            }
            .menu > div:first-child ul li a{
              width: auto;
              margin-right: 5%;
              margin-left: 5%;
              padding:20px 10px;
            }
            .menu > div > ul:first-child > li > ul > li > a:hover{
              background:#fff;
              color:rgba(68, 68, 68,.8);
            }
            .menu > div > ul:first-child > li > a{
              background:#fff;
              color:rgba(68, 68, 68,.8);
            }
            .menu > div > ul:first-child > li > ul > li > a{
              background:#fff;
              color:rgba(68, 68, 68,.8);
            }
            /*.menu > div > ul:first-child ul li a.active{
              color:#F17D16 !important;
            }*/
            .menu > div >  ul:first-child > li > span.open:after{
              content:"-";
            }
            .submenu > span{
              display: flex;
            }
            .menu > div >  ul:first-child > li:hover > ul{
              display: none;
            }
            .menu > div >  ul:first-child > li > ul{
              position: relative;
              width: 90%;
              margin-left: 5%;
              margin-right: 5%;
              display: none;
            }
      .fixed{
        position: relative;
      }
  /*Banner*/    
  .banner-contenido article section{
    width: 90% !important;
  }
  .banner-contenido article.article section{
    left: 5% !important;
    right: 5% !important;
  }
    .banner-contenido article section h3{
      font-size: 2.5em !important;
    }
/*Divisiones de las portadas*/  
.division-portada{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  flex-wrap: wrap;
}
  .division-contenido{
    flex-wrap: wrap;
  }
  /*Slider tipo 1*/
  .type-1{
    width: 400% ;
  }
    .type-1 article{
      width: 100%;
      height: auto;
    }
  /*Slider tipo 2*/
  .type-2{
    width: 100%;
  }   
  .slider-description{
    width: 100%;
  }
  .controls{
    width: 100% !important;
    left: 0% !important;
    justify-content: flex-end !important;
    position: relative !important;
    margin-bottom: 20px;
  }
    .controls i{
      display: block !important;
    }
    .controls i:first-child{
      margin-right: 10px;
    }
  /*Cuadros*/
  .cuadros{
    height: auto !important;
  }
    .cuadros article{
      width: 100% !important;
      margin-bottom: 20px;
    }
  /*Video*/
  .video{
    width: 100% !important;
    margin-bottom: 20px;
  }
  /*Video*/
  .legend{
    width: 100% !important;
  }
    .legend > div{
      align-items: center;
      justify-content: space-between !important;
    }
      .legend > div > div:last-child{
        width: 75% !important;
      }
  /*Slider tipo 3*/
  .type-3{
    width: 300% !important;
  }
    .type-3 article{
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100% !important;
      position: relative;
    }
      .type-3 article div{
        width: 100%;
        margin-top: 90px;
        position: relative;
      }
      .type-3 article img{
        position: absolute;
        top:0;
        left: 0;
      }
      .type-3 article div h4{
        text-align: right;
      }
  /*footer*/
  .footer-content{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
    .footer-content nav > ul{
      display: flex !important;
      width: 100%;
      flex-wrap: wrap !important;
    }
    .footer-content nav ul > div{
      width: 100% !important;
      flex-wrap: wrap;
    }
      .footer-content nav ul > div > li{
        width: 100% !important;
        margin-bottom: 20px;
      }
        .footer-content nav ul > div > li > ul {
          width: 100% !important;
          flex-wrap: wrap;
        }
            .footer-content nav ul > div > li > ul >  li p{
              width: 75%;
            }
          .footer-content nav ul > div > li > ul >  li form  label input{
            width: 90% !important;
          }
          
}