@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    src: url("../fuente/fa-solid-900.woff") format("woff"), url("../fuente/fa-solid-900.ttf") format("truetype");
}
@font-face {
    font-family: "PT Sans Bold";
    font-style: normal;
    src: url("../fuente/PT_Sans-Web-Bold.woff") format("woff"), url("../fuente/PT_Sans-Web-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "PT Sans Bold Italic";
    font-style: normal;
    src: url("../fuente/PT_Sans-Web-BoldItalic.woff") format("woff"), url("../fuente/PT_Sans-Web-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "PT Sans Italic";
    font-style: normal;
    src: url("../fuente/PT_Sans-Web-Italic.woff") format("woff"), url("../fuente/PT_Sans-Web-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "PT Sans Regular";
    font-style: normal;
    src: url("../fuente/PT_Sans-Web-Regular.woff") format("woff"), url("../fuente/PT_Sans-Web-Regular.ttf") format("truetype");
}

*{
	margin: 0;
	padding:0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Estilos cambiados*/
body{
    background: rgba(255,169,82,1);
    background: -moz-linear-gradient(left, rgba(255,169,82,1) 0%, rgba(239,90,90,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,169,82,1)), color-stop(100%, rgba(239,90,90,1)));
    background: -webkit-linear-gradient(left, rgba(255,169,82,1) 0%, rgba(239,90,90,1) 100%);
    background: -o-linear-gradient(left, rgba(255,169,82,1) 0%, rgba(239,90,90,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,169,82,1) 0%, rgba(239,90,90,1) 100%);
    background: linear-gradient(to right, rgba(255,169,82,1) 0%, rgba(239,90,90,1) 100%);
}
.informacion > section > div:last-child > span{
    color:#fff !important;
}
.informacion > section > div:first-child > span{
    color:#231955 !important;
}

.division-portada-titulo *{
    color:rgba(255,255,255,.8) !important;
}
.slider-contenido > div article h4, .slider-contenido > div article h2, .slider-contenido > div article p {
    color:rgba(255,255,255,.8) !important;
}
.slider-description *{
    color:rgba(255,255,255,.8) !important;
}
.division-alterno > div h3, .division-alterno > div h5, .division-alterno > div p, .division-alterno > div span, .division-alterno > div strong{
    color:rgba(255,255,255,.8) !important;
}
.division-alterno-blog a{
    color:rgba(255,255,255,.8) !important;
}
.principal div{
    color:rgba(255,255,255,.8) !important;
}
.tabs-content * {
    color:rgba(255,255,255,.8) !important;
}
.division-alterno h4, .division-alterno > div article span{
    color:rgba(255,255,255,.8) !important;
}
.last div article a{
    color:rgba(255,255,255,.8) !important;
}
.leer-mas{
    color:rgba(255,255,255,.8) !important;
}


a{
	text-decoration:none;
	/*font-family:'Source Sans Pro', sans-serif;*/
}
h1,h2,h3,h4,h5{
    font-family:"PT Sans Bold";
    letter-spacing: 1px;
    word-wrap: break-word;
}
p{
    font-family: "PT Sans Regular";
    color:rgba(84,84,84,.8);
    word-wrap: break-word;
}
.leer-mas{
    display: flex !important;
    font-family: 'PT Sans Bold';
    color:#545454;
    height: 20px;
    font-size: 1em !important;
    letter-spacing: .2px !important;
    align-items: center;
  }
  .leer-mas i{
    display: flex;
    align-items: center;
    font-size: .8em;
    margin-top: 2px;
    margin-left: 15px;
  }
  .leer-mas:hover{
    color:#F17D16;
  }
    .leer-mas:hover i{
      margin-left: 20px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease ;
      -moz-transition: all .2s ease ;
      -ms-transition: all .2s ease ;
      -o-transition:  all .2s ease;
    }
.ver-mas{
    display: flex;
    margin:auto;
    padding:10px 40px;
    background:#fff;
    font-family: 'PT Sans Regular';
    border-radius:4px;
    color:#545454;
    font-size: .85em;
    margin-bottom: 40px;
    letter-spacing: .5px;
}
    .ver-mas:hover{
        color:#fff;
        background:#F17D16;
        transition: all .8s ease;
        -webkit-transition: all .8s ease ;
        -moz-transition: all .8s ease ;
        -ms-transition: all .8s ease ;
        -o-transition:  all .8s ease;
    }
/*
div{
	font-family:'Source Sans Pro', sans-serif;
}
input{
	font-family:'Source Sans Pro', sans-serif;
	color:#333;
}
select{
	font-family:'Source Sans Pro', sans-serif;
	color:#333;
}*/
nav{
    display:block;
    height: 100%;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*input, select, button{
	border:none;
}
input:focus, select:focus, button:focus{
	outline:none;
}
body{
    overflow: none;
}
section{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fondo{
    width: 100%;
    position: relative;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease ;
    -moz-transition: all .2s ease ;
    -ms-transition: all .2s ease ;
    -o-transition:  all .2s ease;
}
    .fondo .fondo-container{
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,.5);
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }   

        .fondo .fondo-container .fondo-title{
            width: 50%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .fondo .fondo-container .fondo-title h1{
                position: relative;
                width: auto;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Source Sans Pro SemiBold';
                letter-spacing: 1.5px;
                font-size: 2.2em;
                transform:scaleY(1.2);
            }
                .fondo .fondo-container .fondo-title h1{
                    color:rgba(255, 255, 255, .9);
                }
                .fondo .fondo-container .fondo-title h1 a{
                    color:rgba(255, 255, 255, .9);
                }
                .fondo .fondo-container .fondo-title h1:after{
                    position: absolute;
                    content:"";
                    top: 0px;
                    width: 180px;
                    height: 0px;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #F65454;
                }
                .fondo .fondo-container .fondo-title h1:before{
                    position: absolute;
                    bottom: -15%;
                    left: auto;
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-top: 10px solid #F65454;
                }
/*
        

        
