.division-alterno-servicios-contenido{
    width: 76%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}  
    .division-alterno-servicios-contenido > div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }   
        .division-alterno-servicios-contenido > div img{
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
        }
        .division-alterno-servicios-contenido > div article{
            width: 100%;
        }
        .division-alterno-servicios-contenido > div:nth-child(2) article{
            width: 49%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
        }
            .division-alterno-servicios-contenido > div:nth-child(2) article > p{
                margin-bottom: 15px;
            }
            .division-alterno-servicios-contenido > div:nth-child(2) article > div{
                display: flex;
                justify-content: space-between;
            }
                .division-alterno-servicios-contenido > div:nth-child(2) article > div i{
                    margin-right: 10px;
                    margin-top: 20px;
                    width: auto;
                    font-size: .5em;
                    color:#F17D16;
                }
                .division-alterno-servicios-contenido > div:nth-child(2) article > div p{
                    width: 95%;
                }
@media screen and (min-width:100px) and (max-width:480px){
    .division-alterno-servicios-contenido{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
        .division-alterno-servicios-contenido > div{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
            .division-alterno-servicios-contenido > div img{
                height: 180px;
            }
            .division-alterno-servicios-contenido > div article{
                width: 100% !important;
                display: flex;
                flex-wrap: wrap;
            }
            .division-alterno-servicios-contenido > div article div{
                width: 100%;
            }
            .division-alterno-servicios-contenido > div article p{
                width: 100%;
            }
}