@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    src: url("../fuente/fa-solid-900.woff") format("woff"), url("../fuente/fa-solid-900.ttf") format("truetype");
}
@font-face {
    font-family: "Source Sans Pro Bold";
    font-style: normal;
    src: url("../fuente/SourceSansPro-Bold.woff") format("woff"), url("../fuente/SourceSansPro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Source Sans Pro Light";
    font-style: normal;
    src: url("../fuente/SourceSansPro-Light.woff") format("woff"), url("../fuente/SourceSansPro-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    src: url("../fuente/SourceSansPro-Regular.woff") format("woff"), url("../fuente/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Source Sans Pro SemiBold";
    font-style: normal;
    src: url("../fuente/SourceSansPro-SemiBold.woff") format("woff"), url("../fuente/SourceSansPro-SemiBold.ttf") format("truetype");
}

*{
	margin: 0;
	padding:0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a{
	text-decoration:none;
	font-family:'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5{
	font-family:'Source Sans Pro', sans-serif;
}
div{
	font-family:'Source Sans Pro', sans-serif;
}
input{
	font-family:'Source Sans Pro', sans-serif;
	color:#333;
}
select{
	font-family:'Source Sans Pro', sans-serif;
	color:#333;
}
ul{
    list-style: none;
}
input, select, button{
	border:none;
}
input:focus, select:focus, button:focus{
	outline:none;
}
body{
    overflow: none;
}
section{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fondo{
    width: 100%;
    position: relative;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease ;
    -moz-transition: all .2s ease ;
    -ms-transition: all .2s ease ;
    -o-transition:  all .2s ease;
}
    .fondo .fondo-container{
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,.5);
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }   

        .fondo .fondo-container .fondo-title{
            width: 50%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .fondo .fondo-container .fondo-title h1{
                position: relative;
                width: auto;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Source Sans Pro SemiBold';
                letter-spacing: 1.5px;
                font-size: 2.2em;
                transform:scaleY(1.2);
            }
                .fondo .fondo-container .fondo-title h1{
                    color:rgba(255, 255, 255, .9);
                }
                .fondo .fondo-container .fondo-title h1 a{
                    color:rgba(255, 255, 255, .9);
                }
                .fondo .fondo-container .fondo-title h1:after{
                    position: absolute;
                    content:"";
                    top: 0px;
                    width: 180px;
                    height: 0px;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #F65454;
                }
                .fondo .fondo-container .fondo-title h1:before{
                    position: absolute;
                    bottom: -15%;
                    left: auto;
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-top: 10px solid #F65454;
                }

        

        