@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    src: url("../fuente/fa-solid-900.woff") format("woff"), url("../fuente/fa-solid-900.ttf") format("truetype");
}
/*Estilos de la parte secundaria*/
#fondo-secundario{
    height: auto !important;
}
    /*Efecto de Linea*/
    .line-width , .line-top{
        width: 100%;
        display: block;
        font-size: 25px;
        color:rgba(255,255,255,.8);
        margin-bottom: 20px;
        font-family: 'Source Sans Pro Regular';
        position: relative;
    }
    .line-width{
        border-bottom:solid 1px rgba(255,255,255,.6);
    }
    .line-top{
        border-top:solid 1px rgba(255,255,255,.6);
    }
        .line-width::before , .line-top::before{
            content:"";
            position: absolute;
            background:#F65454;
            left: 0;
        }
        .line-width:before{
            bottom: -1px;
            width: 30%;
            height: 1px;
        }
        .line-top:before{
            top: -2px;
            width: 10%;
            height: 3px;
        }


    .fondo-contenedor{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        background: rgba(0,0,0,.7);
    }
       .fondo-cuerpo{
            margin-top: 150px;
            width: 84%;
            height: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
        }
            .fondo-contenido{
                width: 74%;
                height: auto;
            }
                .tab-contenido{
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                .fondo-contenido > article{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                    .fondo-contenido > article > div{
                        display:block;
                    }
                    .fondo-subtitle{
                        width: 100%;
                        display: table;
                        margin-bottom: 50px;
                        position: relative;
                        border-bottom: solid 1px rgba(255,255,255,.6);
                    }
                        .fondo-contenido > article > div > div{
                            margin-bottom: 50px;
                        }
                        .fondo-subtitle:before{
                            content:"";
                            position: absolute;
                            left: 0;
                            width: 40%;
                            bottom: -1.5px;
                            height: 3px;
                            background: #F65454;
                        }
                        .fondo-subtitle span:first-child{
                            width: 100%;
                            font-size: 3.5em;
                            transform: scaleY(1.1);
                            letter-spacing: 1px;
                            margin-bottom: 10px;
                            font-family: 'Source Sans Pro Regular';
                        }
                            .fondo-subtitle span a, .fondo .fondo-cuerpo .fondo-subtitle span a{
                                color:rgba(255,255,255,.8);
                            }
                        .fondo-subtitle span:last-child{
                            height: 25px;
                            font-size: 25px;
                            position: relative;
                            color:rgba(255,255,255,.8);
                            font-family: 'Source Sans Pro Light';
                            padding-left: 50px;
                            margin-bottom: 5px;
                            display: flex;
                            align-items: center;
                        }  
                            .fondo-subtitle span a{
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                            
                            .fondo-subtitle span:last-child:after{
                                content: "";
                                position: absolute;
                                left: 0;
                                width: 45px;
                                border-left:0px solid transparent; 
                                border-right:15px solid transparent;
                                border-top:20px solid  #838487; 
                                border-bottom:0px solid transparent;
                            } 
                
                        .fondo-subtitle span:last-child a:last-child{
                            color:#F65454;
                        }
                    .fondo-description{
                        width: 56%;
                        height: auto;
                        display: flex;
                        justify-content:space-between;
                        flex-wrap: wrap;
                    }
                        .tops-secundarias{
                            width: 100%;
                            height: auto;
                        }
                            .tops-secundarias > div{
                                width: 100%;
                                height: auto;
                                display: flex;
                                padding:5px 5px 5px;
                                background: rgba(255,255,255,.15);
                            }
                            .top-secundaria-content{
                                position: relative;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                margin-bottom: 2px;
                            }
                                .top-secundaria-content  > iframe{
                                    height: 60px !important;
                                }
                                .tops-secundarias .first > iframe{
                                    height: 150px !important;
                                }
                                .top-secundaria-content img{
                                    width: 30%;
                                    height: 80px;
                                }
                                .top-secundaria-content a{
                                    width: 65%;
                                    margin-top: 5px;
                                    color:rgba(255,255,255,.9);
                                    font-size: 1.2em;
                                    font-family: 'Source Sans Pro Light'; 
                                }
                                    .top-secundaria-content a:hover{
                                        color:#F65454;
                                    }
                                .top-secundaria-content span{
                                    position: absolute;
                                    right: 5px;
                                    bottom: 5px;
                                    height: auto;
                                    color:rgba(255,255,255,.5);
                                    font-family: 'Source Sans Pro Regular';
                                }
                            .tops-secundarias .leer-mas{
                                justify-content: center;
                                align-items: center;
                            }
                                .tops-secundarias .leer-mas a{
                                    padding: 8px 20px;
                                    width: auto;
                                    height: auto;
                                    background:#F65454;
                                    color:rgba(255,255,255,.9);
                                    font-family: 'Source Sans Pro Regular';
                                }
                                    .tops-secundarias .leer-mas a span{
                                        margin-right: 15px;
                                    }
                                    .tops-secundarias .leer-mas a:hover{
                                        color:#F65454;
                                        background:rgba(255,255,255,.9);
                                    }
                        .review-secundaria p{ 
                            width: 100%;
                            display: block;
                            color:rgba(255,255,255,.8);
                            font-family: 'Source Sans Pro Regular';
                        }
                        .galeria-secundaria{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }
                            .galeria-secundaria > div{
                                width: 32%;
                                height: auto;
                                display: inline-flex;
                                align-items: center;
                                flex-wrap: wrap;
                                
                            }
                                .galeria-secundaria > div a{
                                    width: 100%;
                                    position: relative;
                                    height: auto;
                                }    
                                .galeria-secundaria > div a:first-child{
                                    -webkit-box-shadow: inset 0px -10px 0px 0px rgba(246,84,84,1);
                                    -moz-box-shadow: inset 0px -10px 0px 0px rgba(246,84,84,1);
                                    box-shadow: inset 0px -10px 0px 0px rgba(246,84,84,1);
                                }
                                    .galeria-secundaria > div a img{
                                        width: 100%;
                                        height: 140px;
                                    }
                                    .galeria-secundaria > div a span{
                                        position: absolute;
                                        width: 100%;
                                        display: none;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        font-size: 1.5em;
                                        left: 0;
                                        top: 0;
                                        background:#F65454;
                                        color:rgba(255,255,255,.8);
                                        transition: all .5s ease;
                                        -webkit-transition: all .5s ease ;
                                        -moz-transition: all .5s ease ;
                                        -ms-transition: all .5s ease ;
                                        -o-transition:  all .5s ease;
                                    }
                                .galeria-secundaria > div a:hover span{
                                    display: flex;
                                    transition: all .2s ease;
                                    -webkit-transition: all .5s ease ;
                                    -moz-transition: all .5s ease ;
                                    -ms-transition: all .5s ease ;
                                    -o-transition:  all .5s ease;
                                }
                    .fondo-information{
                        width: 40%;
                        display: flex;
                        justify-content:space-between;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                        .fondo-information > div{
                            width: 100%;
                            margin-bottom: 30px !important;
                        }
                        .box-information{
                            width: 100%;
                        }
                            .box-information > div{
                                width: 100%;
                                padding:25px 20px;
                                display: flex;
                                align-items: center;
                            }
                                .box-information > div a{
                                    color:rgba(255,255,255,.8);
                                    display: inline-flex;
                                    margin-left: 5px;
                                    padding:5px 5px;
                                    font-size: .8em;
                                }
                                .box-information > div a:hover{
                                    color:#F65454;
                                }
                            .share-secundaria{
                                width: 100%;
                                justify-content: flex-end;
                                position: relative;
                                align-items: center;
                                margin-bottom: 2px;
                                background:rgba(255,255,255,.15);
                            }
                                .share-secundaria > span{
                                    position: absolute;
                                    top:auto;
                                    left: 20px;
                                    padding:5px 5px;
                                    width: auto;
                                    height: auto;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: .8em;
                                    font-family: 'Source Sans Pro Regular';
                                    color:#fff;
                                    background: #F65454;
                                }
                                    .share-secundaria > span:after{
                                        content:"";
                                        position: absolute;
                                        top: 0;
                                        right:-12px;
                                        width: 0;
                                        height: 0;
                                        border-top: 15px solid #F65454;
                                        border-right:12px solid transparent;
                                    }
                                .share-secundaria a{
                                    border-radius: 50%;
                                    border:solid 2px rgba(255,255,255,.8);
                                }
                                .share-secundaria a:hover{
                                    border-color:#F65454;
                                }
                            .box-information img{
                                width: 100%;
                                height: 300px;
                                display: flex;
                                margin-bottom: 2px;
                            }
                            .tag-secundaria{
                                background:rgba(255,255,255,.15);
                                width: 100%;
                            }    
                                .tag-secundaria a{
                                    background:#F65454;
                                }
                                .tag-secundaria a:hover{
                                    background:#fff;
                                }
                        .text-information{
                            width: 100%;
                        }
                            .text-information p{
                                color:rgba(255,255,255,.8);
                            }
            
                .tab-contenido{
                    width: 74%;
                    display: inline-flex;
                    justify-content: space-between;
                    flex-wrap:wrap;
                }
                    .tab-notices{
                        width: 90%;
                        position: relative;
                        height: auto;
                        overflow: hidden;
                    }
                        .tab-notice-content{
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            position: relative;
                            left: 0;
                            transition: all 1s ease;
                            -webkit-transition: all 1s ease;
                            -moz-transition: all 1s ease;
                            -ms-transition: all 1s ease;
                            -o-transition: all 1s ease;
                        }
                            .tab-notice-content > article{
                                height: auto;
                                display: inline-flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                            }
                            .tab-notice-content > article > div{
                                width: 100%;
                            }
                            .min-notice{ 
                                margin-top: 20px;
                                padding:20px 20px;
                                display: flex;
                                justify-content: flex-end;
                                flex-wrap: wrap;
                                position: relative;
                                background:rgba(255,255,255,.08);
                            }
                                .min-notice > span , .min-notice > a{
                                    width: 20%;  
                                    left: 20px;
                                    top:auto;          
                                    height: auto !important;                    
                                    position: absolute;
                                }
                                .min-notice > span{
                                    background: #F65454;
                                    font-size: 15px;   
                                    text-align: right;
                                    padding:0px 10px 5px 5px;
                                }
                                .min-notice > span:first-line{
                                    font-size: 50px !important;
                                }
                                .min-notice > span::after{
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: -12px;
                                    width: 0;
                                    height: 0;
                                    border-top: 15px solid #F65454;
                                    border-right: 12px solid transparent;
                                }      
                                    .min-notice > a img{
                                        width: 100%;
                                        height: 150px;
                                    }                         
                                .min-notice > div{
                                    width: 75%;
                                    height: auto;
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                }
                                .min-notice > img{
                                    width: 100%;
                                    display: table;
                                    height: 400px;
                                }
                                .min-notice .notice-title{
                                    width: 100%;
                                    font-size: 1.6em;
                                    margin-top:-30px;
                                    margin-bottom: 20px;
                                    color:rgba(255,255,255,.8);
                                }
                                .min-notice > .notice-title:hover{
                                    color: #F65454;
                                }
                                .min-notice .notice-foto{
                                    width: 80%;
                                    height: auto;
                                    position: relative;
                                }
                                    .min-notice .notice-foto img{
                                        width: 100%;
                                        height: 250px;
                                    }
                                    .min-notice > div > strong{
                                        display: table;
                                        margin-bottom: 10px;
                                        font-size: .7em;
                                        color: rgba(255,255,255,.8);
                                        border-bottom: solid 1px rgba(255,255,255,.8);
                                    }
                                    .min-notice > div > strong:first-child{
                                        margin-top: -20px;
                                    }
                                    .min-notice .notice-foto > span{
                                        position: absolute;
                                        top:0;
                                        left:0;
                                        width: 100%;
                                        height: 250px;
                                        display: none;
                                        justify-content: center;
                                        align-items: center;
                                        background:rgba(0,0,0,.5);
                                        color:rgba(255,255,255,.8);
                                        font-size: 2em;
                                    }
                                    .min-notice .notice-foto:hover > span{
                                        display: flex;
                                    }
                                .min-notice > div > p{
                                    font-size:.6em;
                                    color:rgba(255,255,255,.8);
                                }
                                .group-min-notice, .group-min-music{
                                    width: 100%;
                                    margin-bottom: 10px;
                                    height: auto;
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                }
                                    .group-min-notice > div{
                                        margin-bottom: 10px;
                                    }
                                    .group-min-notice > .mini{
                                        width: 32%;
                                    }
                                    .group-min-notice > .normal{
                                        width: 49%;
                                    }
                                        .group-min-notice > div a{
                                            width: 100%;
                                            display: block;
                                            font-size: .5em;
                                            color:rgba(255,255,255,.8);
                                            background:#F65454;
                                        }
                                        .group-min-notice > div a:last-child{
                                            padding:5px 5px;
                                        }
                                        .group-min-notice > div a img{
                                            width: 100%;
                                        }
                                        .group-min-notice > .mini a img{
                                            height: 100px;
                                        }
                                        .group-min-notice > .normal a img{
                                            height: 150px;
                                        }
                                    .group-min-music > iframe{
                                        height: 80px !important;
                                        margin-bottom: 10px;
                                    }

                    .tab-controles{
                        width: 8%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                    }       
                        .tab-controles span{
                            width: 100%;
                            margin-bottom: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 80px; 
                            font-size: 1.8em;
                            cursor: pointer;
                            position: relative;
                            background: rgba(255,255,255,.15);
                            color:rgba(255,255,255,.8);
                        }
                        .tab-controles span:hover{
                            background:#F65454;
                        }
                        .tab-controles span:first-child{
                            background:#F65454;
                            cursor: auto;
                            font-size: .8em;
                            margin-bottom: 20px;
                        }
                        .tab-controles span:first-child:before{
                            content: "";
                            position: absolute;
                            bottom: -10px;
                            right: 0;
                            width: 0;
                            height: 0;
                            border-top: 10px solid #F65454;
                            border-left: 15px solid transparent;
                        }
                    
                            .tags-enlaces .galeria-secundaria a img{
                                height: 200px !important;
                            }
                            .tags-enlaces .galeria-secundaria a:last-child{
                                margin-top: 10px;
                                color:rgba(255,255,255,.8);
                            }
                            .tags-enlaces .galeria-secundaria a:last-child:hover{
                                color:#F65454;
                            }
                        .noticia{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                        }
                            .noticia-media{
                                width: 100%;
                                height: 400px;
                                margin-bottom: 20px !important;
                            }
                                .noticia-media img{
                                    width: 100%;
                                    height: 100%;
                                }
                            .noticia > strong{
                                width: 100%;
                                display: block;
                                margin-bottom: 40px;
                                color:rgba(255,255,255,.8);
                                border-bottom: solid 1px rgba(255,255,255,.8);
                            }
                            .noticia p{
                                width:100%;
                                color:rgba(255,255,255,.8);
                                margin-bottom:20px;
                            }
                            .noticia p:last-child{
                                margin-bottom: 100px;
                            }
                        .location-links , .noticia-controls{
                            width: 100%;
                            background:rgba(255,255,255,.15);
                            padding: 20px 20px;
                            margin-bottom: 20px;
                        }
                            .location-links span{
                                color:rgba(255,255,255,.8);
                            }
                                .location-links a{
                                    color:#F65454;
                                    margin:5px 5px;
                                }
                        .noticia-controls{
                            display: flex !important;
                            align-items: center;
                            justify-content: space-between;
                        }
                            .noticia-controls a{
                                width: auto;
                                display: flex;
                                align-items: center;
                                color:rgba(255,255,255,.8);
                                display: inline-flex;
                                font-size: .9em;
                            }
                            .noticia-controls a:hover{
                                color:#F65454;
                            }
                            .noticia-controls a span{
                                font-size:1.2em;
                            }
                            .noticia-controls a:first-child span{
                                margin-right: 10px;
                            }
                            .noticia-controls a:last-child span{
                                margin-left:10px;
                            }
            .menu-toggle{
                width: 24%;
                height: auto;
            }
                .menu-toggle > span{
                    width: 100%;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:25px 20px;
                    position: relative;
                    background:#F65454;
                    color:rgba(255,255,255,.8);
                }
                    .menu-toggle > span:after{
                        content: "";
                        position: absolute;
                        bottom:-10px;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-top: 10px solid #F65454;
                        border-left: 15px solid transparent;
                    }
                .menu-toggle > ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                }
                    .menu-toggle > ul > li{
                        width: 100%;
                        display: flex;
                        justify-content:space-between;
                        flex-wrap: wrap;
                    }
                        .menu-toggle > ul > li > span{
                            color:rgba(255,255,255,.8);
                            display: flex;
                            width: 100%;
                            padding:20px 0px;
                            font-size:1.2em;
                            border-bottom: solid 1px rgba(255,255,255,.5);
                            cursor: pointer;
                            position: relative;
                            transition: all .2s ease;
                            -webkit-transition: all .2s ease ;
                            -moz-transition: all .2s ease ;
                            -ms-transition: all .2s ease ;
                            -o-transition:  all .2s ease;
                        }
                        .menu-toggle > ul > li > span:hover{
                            color: #F65454;
                        }
                        .menu-toggle > ul > li > span:before{
                            content:"\f107";
                            font-family: 'FontAwesome';
                            font-size: 1.4em;
                            position: absolute;
                            top:auto;
                            display: flex;
                            align-items: center;
                            right: 0;
                            transition: all .2s ease;
                            -webkit-transition: all .2s ease ;
                            -moz-transition: all .2s ease ;
                            -ms-transition: all .2s ease ;
                            -o-transition:  all .2s ease;
                        }
                        span.sactivate{
                            border-color:#F65454 !important;
                            transition: all .2s ease;
                            -webkit-transition: all .2s ease ;
                            -moz-transition: all .2s ease ;
                            -ms-transition: all .2s ease ;
                            -o-transition:  all .2s ease;
                        }
                        span.sactivate:before{
                            transform: rotate(-180deg);
                            -webkit-transform: rotate(-180deg);
                            -moz-transform: rotate(-180deg);
                            -o-transform: rotate(-180deg);  
                            transition: all .2s ease;
                            -webkit-transition: all .2s ease ;
                            -moz-transition: all .2s ease ;
                            -ms-transition: all .2s ease ;
                            -o-transition:  all .2s ease;
                        }
                        .menu-toggle > ul > li > form{
                            width: 100%;
                            justify-content: space-between;
                            padding:10px 0px;
                            display: none;
                        }
                            .menu-toggle > ul > li > form input{
                                width:90%;
                                padding:5px 5px;
                                font-size: .9em;
                                background: rgba(255,255,255,.08);
                                color:rgba(255,255,255,.8);
                                border:solid 1px rgba(255,255,255,.8);
                            }
                            .menu-toggle > ul > li > form input::placeholder{
                                color:rgba(255,255,255,.8);
                            }
                            .menu-toggle > ul > li > form button{
                                width: 10%;
                                font-size: .9em;
                                background:#F65454;
                                color:rgba(255,255,255,.8);
                                border:solid 1px rgba(255,255,255,.8);
                                cursor: pointer;
                            }
                        .menu-toggle > ul > li > ul{
                            width: 100%;
                            display: none;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }
                            .menu-toggle > ul > li > ul > li{
                                width: 100%;
                                padding:10px 0px;
                                border-bottom: solid 1px rgba(255,255,255,.5);
                                border-bottom-style: dotted;
                            }
                            /*.menu-toggle > ul > li > ul > li:last-child{
                                border-bottom-style: solid;
                            }*/
                            .menu-toggle > ul > li > ul > li:last-child a{
                                font-size: .9em;
                            }
                            .menu-toggle > ul > li > ul > li a{
                                width: 100%;
                                height: 40px;
                                display: flex;
                                justify-content: space-between;
                                align-items: space-between;
                                flex-wrap: wrap;
                                color:rgba(255,255,255,.8);
                                position: relative;
                            }
                                .menu-toggle > ul > li > ul > li a img{
                                    width: 20%;
                                    height: 100%;
                                    display: inline-flex;
                                }
                                .menu-toggle > ul > li > ul > li a div{
                                    width: 75%;
                                    height: 100%;
                                    display: inline-flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                }
                                    .menu-toggle > ul > li > ul > li a div span{
                                        width: 100%;
                                        height:auto;
                                    }
                                    .menu-toggle > ul > li > ul > li a div span:first-child{
                                        font-size: 1em;
                                    }
                                    .menu-toggle > ul > li > ul > li a div span:last-child{
                                        font-size: .75em;
                                    }
                        .menu-toggle > ul > li > .btags{
                            padding:20px 0px;
                        }
                            .menu-toggle > ul > li .btags > li{
                                width: auto;
                                margin-right:8px;
                                border:none;
                            }
                            .menu-toggle > ul > li > .btags > li a{
                                font-size: .75em !important;
                                font-family: 'Source Sans Pro Regular';
                            }
                            .menu-toggle > ul > span:hover{
                                color:#F65454;
                            }
                            .menu-toggle > ul > li > ul > li a:hover{
                                color:#F65454;
                            }

