
/*Estilos del Header*/
header{
  width: 100%;
  height:80px;
  position: fixed;
  display: flex;
  align-items: center;
  background:rgba(0,0,0,.6);
  z-index: 10000;
}
  header ul{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
    header ul > li{
      width: auto;
      display: inline-flex;
      position: relative;
    }
    header ul > li, header ul > div{
      height: 100%;
      justify-content: center;
      align-items: center;
      font-size:1.5em;
    }
    header ul li a, header ul li span{
      color:#fff;
      cursor:pointer;
      font-family: 'Source Sans Pro Regular';
    }
    header ul > li:first-child{
      width: 80px;
      height: 40px;
    }
    header ul > li:first-child span{
      display: flex;
      width: 35px;
      height: 10%;
      position: relative;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
    }
    header ul > div{
      width: auto;
      position:absolute;
      right: -100%;
      top:auto;
      height: 100%;
      display: flex;
      transition: all .2s ease;
      -webkit-transition: all .2s ease ;
      -moz-transition: all .2s ease ;
      -ms-transition: all .2s ease ;
      -o-transition:  all .2s ease;
      z-index: 1;
    }
    header ul > div li{
      display: inline-flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
    }
    .sociales{
      right:80px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease ;
      -moz-transition: all .2s ease ;
      -ms-transition: all .2s ease ;
      -o-transition:  all .2s ease;
    }
    header ul > li:last-child{
      width: 80px;
    }
    header ul > li:last-child span, header ul > div li a{
      padding:8px 8px;
      border:solid 2px #fff;
      border-radius:50%;
      font-size:.8em;
    }
    header ul > li:last-child span:hover, header ul > div li a:hover{
      color:#F65454;
      border-color:#F65454;
    }
    header ul > div li a:hover span{
      color:#F65454;
    }
    header ul > div li a{
      padding:5px 8px;
    }
    /*Item de menu que se modificara por una imagen*/
    header ul > li:nth-child(2) a{
      font-size: 1.5em !important;
      font-family: 'Source Sans Pro SemiBold';
    }
      .hamburguesa, .hamburguesa:after, .hamburguesa:before , .cruz, .cruz:after , .cruz:before{
        position: absolute;
        width: 100%;
        content: '';
        background-color:#fff;
        transition: all .2s ease;
        -webkit-transition: all .2s ease ;
        -moz-transition: all .2s ease ;
        -ms-transition: all .2s ease ;
        -o-transition:  all .2s ease;
      }
      .hamburguesa:after{
        height: 100%;
        top:10px;
      }
      .hamburguesa:before{
        height: 100%;
        top:-10px;
      }
      .cruz{
        
        transition: all .2s ease;
        -webkit-transition: all .2s ease ;
        -moz-transition: all .2s ease ;
        -ms-transition: all .2s ease ;
        -o-transition:  all .2s ease;
        transform:rotateZ(45deg);
        -webkit-transform: rotateZ(45deg) ;
        -moz-transform: rotateZ(45deg) ;
        -ms-transform: rotateZ(45deg) ;
        -o-transform:  rotateZ(45deg);
      }
        .cruz:before{
          top:0;
          height: 100%;
          transition: all .2s ease;
          -webkit-transition: all .2s ease ;
          -moz-transition: all .2s ease ;
          -ms-transition: all .2s ease ;
          -o-transition:  all .2s ease;
          transform:rotateZ(90deg);
          -webkit-transform: rotateZ(90deg) ;
          -moz-transform: rotateZ(90deg) ;
          -ms-transform: rotateZ(90deg) ;
          -o-transform:  rotateZ(90deg);
        }
        .cruz:after{
          top:0;
          height: 100%;
          transition: all .2s ease;
          -webkit-transition: all .2s ease ;
          -moz-transition: all .2s ease ;
          -ms-transition: all .2s ease ;
          -o-transition:  all .2s ease;
          transform:rotateZ(0deg);
          -webkit-transform: rotateZ(0deg) ;
          -moz-transform: rotateZ(0deg) ;
          -ms-transform: rotateZ(0deg) ;
          -o-transform:  rotateZ(0deg);
        }

/*Menu Canvas*/
.menu{
  top:0;
  left: -100%;
  width: 20%;
  height: 100%;
  max-height: 100vh;
  position: fixed;
  z-index: 10;
  transition: all .2s ease;
  -webkit-transition: all .2s ease ;
  -moz-transition: all .2s ease ;
  -ms-transition: all .2s ease ;
  -o-transition:  all .2s ease;
}
  .menu > ul{
    padding-top:80px;
    width:100%;  
    height: 100%;  
    overflow-y: auto;
    overflow-x: hidden;
    background:#000;
  }
    .menu > ul > li{
      width: 100%;
      display: flex;
      height: auto;
      flex-wrap: wrap;
      word-wrap: break-word;
    }
    .menu > ul > li a, .menu > ul > li span{
      color:#fff;
      font-size: 1.25em;
      font-family:'Source Sans Pro Regular'; 
      transform:scaleY(1.1);
      width: 100%;
      cursor: pointer;
      padding:8px 20px;
      position: relative;
    }
    .menu > ul > li a:hover, .menu > ul > li span:hover{
      transition: all .2s ease;
      -webkit-transition: all .2s ease ;
      -moz-transition: all .2s ease ;
      -ms-transition: all .2s ease ;
      -o-transition:  all .2s ease;
      background:#F65454;
    }
      .menu > ul > li span:before{
        position: absolute;
        right: 5%;
        width: auto;
        line-height: 25px;
        color:#fff;
        font-size:1.25em;
      }
      .menu > ul > li .open:before{
        content:"+";
      }
      .menu > ul > li .close{
        background:#F65454;
      }
      span.close:before{
        content: "-";
      }
      .menu > ul > li a:hover, .menu > ul > li span:hover{
        background:#F65454;
      }
    .menu > ul > li:first-child a{
      font-size:3em;
      display: flex;
      height: 100px;
      padding:0;
      align-items: center;
      justify-content: center;
      transform:scaleY(1);
    }
      .menu > ul > li:first-child a:hover{
        background: none;
      }
        .menu > ul > li > ul{
          display: flex;
          flex-wrap:wrap;
          width: 100%;
          display: none;
          background:#333333;
          position: relative;
        }
          .menu > ul > li > ul:after{
            position: absolute;
            top:-20px;
            width: 0;
            content: "";
            left:45%;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 10px solid #333333;
          }
          .menu > ul > li > ul li{
            width: 100%;
          }
            .menu > ul > li > ul li:first-child{
              margin-top: 10px;
            }
            .menu > ul > li > ul li:last-child{
              margin-bottom: 10px;
            }
            .menu > ul > li > ul li a{
              display: block;
              font-size: 1em;
            }
/*Submenu*/
.submenu{
  position: fixed;
  top: 20%;
  left: 0%;
  z-index:5;
}
  .submenu ul{
    width: auto;
    height: auto;
  }
    .submenu ul li{
      padding: 10px 20px;
      margin-bottom: 10px;
    }
      .submenu ul li a{
        padding:5px 8px;
        font-size: 1em;
        border:solid 2px rgba(255,255,255,.7);
        color:rgba(255,255,255,.7);
        border-radius: 60px;
      }
        .submenu ul li a:hover{
          color:#F65454;
          border-color:#F65454;
        }
      .submenu ul li a.color{
        color:#F65454;
        border-color:#F65454;
      }
/*Estilos para la portada de la parte principal*/
  #portada .fondo-container{
    background:rgba(0,0,0,.4) !important;
  }
    #portada .fondo-container .fondo-title{
      width: 20%;
      height: auto !important;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
      #portada .fondo-container .fondo-title h3{
        display: flex;
        justify-content: center;
        width: 100%;
        color:#fff;
        font-family: 'Source Sans Pro Light';
        font-size:4em;
        letter-spacing: 1px;
        transform:scaleY(1.1);
      }
      #portada .fondo-container .fondo-title h4{
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: 'Source Sans Pro Light';
        color:rgba(255, 255, 255, .8);
        font-size:1.2em;
        letter-spacing: 2px;
        transform:scaleY(1.1);
      }
        #portada .fondo-container .fondo-title a{
          margin-top:40px;
          color:#fff;
          font-family: 'Source Sans Pro Light';
          background:#F65454;
          padding:0px 40px;
          word-spacing: 10px;
          border-radius: 20px 20px;
        }
        #portada .fondo-container .fondo-title a:hover{
          background:#fff;
          color:#232323;
          transition: all .2s ease;
          -webkit-transition: all .2s ease ;
          -moz-transition: all .2s ease ;
          -ms-transition: all .2s ease ;
          -o-transition:  all .2s ease;
        }
        #portada .fondo-container:after{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 20%;
          background: rgba(0,0,0,.4);
        }
        #portada .fondo-container:before{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 20%;
          background-image: 
            radial-gradient(#000 1%,transparent 18%);
          background-size:5px 5px;
        }

/*Estilos para los programas de la parte principal*/
  #slider{
    width: 80%;
    height: 60%;
    position: relative;
  }
  #slider .slider-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #slider .slider-container article{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
  }
    #slider .slider-container article img{
      width: 100%;
      height: 100%;
    }
    #slider .slider-container article > div{
      position: absolute;
      top:5%;
      right: 5%;
      display:flex;
      flex-wrap:wrap;
      width:30%;
      max-width:40%;
      padding:10px 10px;
      background:rgba(0,0,0,.4);
    }
      #slider .slider-container article > div span{
        width: 100%;
        color:#fff;
        margin-bottom: 5px;
        font-family: 'Source Sans Pro SemiBold';
      }
      #slider .slider-container article > div h1{
        width: auto;
        padding:10px 20px;
        background:rgba(255,255,255,.4);
        font-size: 2.5em;
        color:#fff;
        margin-bottom: 10px;
        font-family: 'Source Sans Pro Regular';
      }
      #slider .slider-container article > div a{
        padding:10px 20px;
        margin-top: 10px;
        color:#fff;
        background:#F65454;
        border-radius: 5px;
        font-size: 1.1em;
        font-family: 'Source Sans Pro Regular';
      }
      #slider .slider-container article > div a:hover{
        background:#fff;
        color:#F65454;
      }
      #slider .controles{
        width: auto;
        position: absolute;
        display:flex;
        bottom:10%;
        right: 5%;
        z-index:1;
        height: auto;
        justify-content: space-between;
        align-items: center;
      }
      #slider .controles a{
        color:rgba(246, 84, 84,.4);
        display: inline-flex;
        width: 40px;
        height: 20px;
        font-size: 2.5em;
      }
      #slider .controles a:hover{
        color:rgba(246, 84, 84,1);
      }
      #slider .controles a:before{
        top:auto;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: "FontAwesome";
      }
      #slider .controles .mas:before{
        content:"\f152";
      }
      #slider .controles .menos:before{
        content:"\f191";
      }   
  /*carrusel en los fondos*/
  .carrusel{
    position: relative;
    width:70%;
    height: auto;
    overflow: hidden;
  }
      .carrusel-container{
        height: auto;
        display: table;
        position: relative;
        left:0;
        transition: all 1s ease;
        -webkit-transition: all 1s ease ;
        -moz-transition: all 1s ease ;
        -ms-transition: all 1s ease ;
        -o-transition:  all 1s ease;
      }
        .carrusel article{
          display: inline-flex;
          justify-content: space-around;
       }
          .carrusel article > div{
            display: inline-flex;
            position: relative;
          }
          
/*Estilos para los generos de la parte principal*/
    #carrusel-automatic article > div{
      width: 300px;
      overflow: hidden;
    }
          /*Estilos para el carrusel automatico*/
            #carrusel-automatic article > div > div{
              position: absolute;
              left: 0;
              display: flex;
              justify-content: center;
            }
              #carrusel-automatic article > div > div:after{
                content: "";
                position: absolute;
              } 
                
            #carrusel-automatic article > div .capa-uno{
              width: 0;
              height: 0;
              top: 0;
              z-index: 1;
              border-bottom: 280px solid rgba(0,0,0,.3);
	            border-left: 300px solid transparent;
            }
            #carrusel-automatic article > div .capa-dos{
              top:-100%;
              width: 100%;
              height:35%;
              background: #F65454;
              z-index: 3;
            }
              #carrusel-automatic article > div .capa-dos:after{
                top:100%;
                width: 0;
                height: 0;
                border-top: 50px solid #F65454;
                border-left: 300px solid transparent;
              }
                #carrusel-automatic article > div > .capa-dos > div{
                  width: 50%;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  color:rgba(255,255,255,.5);
                }
                  #carrusel-automatic article > div > .capa-dos > div span{
                    font-family: 'Source Sans Pro Regular';
                    font-size: .95em;
                  }
                  #carrusel-automatic article > div > .capa-dos > div span:nth-child(2){
                    visibility: hidden;
                    position: absolute;
                    left: auto;
                    width: auto;
                    height: auto;
                    top:0px;
                    display: flex;
                  }
                  #carrusel-automatic article > div > .capa-dos > div span:last-child{
                    font-size: .9em;
                  }
                  #carrusel-automatic article > div > .capa-dos > div a{
                    font-family: 'Source Sans Pro Regular';
                    font-size: 1em;
                    letter-spacing: 1px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin-top:20px;
                    margin-bottom: 10px;
                    color:rgba(255,255,255,.8);
                  }
                    #carrusel-automatic article > div > .capa-dos > div a:hover + span{
                      visibility:visible;
                    }
                    #carrusel-automatic article > div > .capa-dos > div a:before{
                      content: "";
                      position: absolute;
                      left: auto;
                      width: 50%;
                      bottom: -8px;
                      height: 2px;
                      display: flex;
                      background:rgba(255,255,255,.4);
                    }
              #carrusel-automatic article > div .capa-tres{
                bottom: -100%;
                width: 100%;
                height: 50%;
                z-index: 2;
                background: rgba(0,0,0,.7);
              }
                #carrusel-automatic article > div .capa-tres:after{
                  top:-80px;
                  left: 0;
                  width: 0;
                  height: 0;
                  border-bottom: 80px solid rgba(0,0,0,.7);
                  border-right: 302px solid transparent;
                }
                  #carrusel-automatic article > div .capa-tres  a{
                    margin-top: 10%;
                    font-size:2.5em;
                    color:rgba(255,255,255,.8);
                  }
                  #carrusel-automatic article > div .capa-tres  a:hover{
                    color:#F65454;
                  }
              #carrusel-automatic article > div:hover .capa-dos{
                top:0;
                transition: all .2s ease;
                -webkit-transition: all .2s ease ;
                -moz-transition: all .2s ease ;
                -ms-transition: all .2s ease ;
                -o-transition:  all .2s ease;
              }
              #carrusel-automatic article > div:hover .capa-tres{
                bottom:0;
                transition: all .2s ease;
                -webkit-transition: all .2s ease ;
                -moz-transition: all .2s ease ;
                -ms-transition: all .2s ease ;
                -o-transition:  all .2s ease;
              }
              #carrusel-automatic article > div h3{
                color:#fff;
                position: absolute;
                bottom:5%;
                right: 5%;
                font-weight: normal;
                letter-spacing: 1px;
                transform:scaleY(1.5);
                font-family: 'Source Sans Pro Regular';
              }     
          #carrusel-automatic article > div img{
            width: 100%;
            height: 280px;
          }
      /* indicadores de navegación */
      .indicadores{
        height: 5%;
        display: flex;
        justify-content: space-between;
      }
        .indicadores span{
          display: flex;
          cursor: pointer;
          height: 3px;
          background: rgba(255,255,255,.4);
        }
        #carrusel-automatic + .indicadores span{
          width: 15px;
        }
           #carrusel-automatic + .indicadores span.iactive{
            background: #F65454;
          }
/*Estilos de artistas de la parte principal*/
  #carrusel-manual{
    width: 70%;
  }
    #carrusel-manual article{
      width: 50%;
      height: 280px;
      display: inline-flex;
      justify-content: space-between;
    }
      #carrusel-manual article > div img{
        width: 100%;
        height: 80%;
      }
      #carrusel-manual article .description-enlace{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap:wrap;
      }
        #carrusel-manual article .description-enlace a{
          width: 100%;
          height: 15%;
          background: #F65454;
          color:#fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Source Sans Pro Regular';
          letter-spacing: 1px;
        }
        #carrusel-manual article .description-enlace a:hover{
          background: #fff;
          color:#F65454;
          transition: all .5s ease;
          -webkit-transition: all .5s ease ;
          -moz-transition: all .5s ease ;
          -ms-transition: all .5s ease ;
          -o-transition:  all .5s ease;
        }
        #carrusel-manual article .description-summary{
          width: 55%;
          height: 100%;
          display: flex;
          background:rgba(255,255, 255,.08);
        }
          #carrusel-manual article .description-summary .description-container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: space-between;
            width: 90%;
            margin:5% 5% 5% 5%;
            color:rgba(255,255,255,.7);
          }
            #carrusel-manual article .description-summary .description-container h3{
              width: 100%;
              height:40px;
              display: flex;
              padding-left: 60px;
              justify-content: space-between;
              align-items: center;
              position: relative;
              font-size:1.5em;
              font-family: 'Source Sans Pro Regular';
              -webkit-box-shadow: 0px 2px 0px 0px rgba(255,255,255,.7);;
              -moz-box-shadow: 0px 2px 0px 0px rgba(255,255,255,.7);;
              box-shadow: 0px 2px 0px 0px rgba(255,255,255,.7);
            }
            #carrusel-manual article .description-summary .description-container h3:after{
              content: "";
              position: absolute;
              left: 0;
              top: auto;
              height: 0px; 
              width: 50px; 
              border-left:0px solid transparent; 
              border-right:20px solid transparent;
              border-top:20px solid  #838487; 
              border-bottom:0px solid transparent;
            }
            #carrusel-manual article .description-summary .description-container h3:before{
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 50%;
              height: 2px;
              background: #F65454;
            }
          #carrusel-manual article .description-summary .description-container h2{
            width: 100%;
            height:40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            font-size:4em;
            font-family: 'Source Sans Pro Regular';
          }
          #carrusel-manual article .description-summary .description-container p{
            width: 100%;
            height: 25%;
            font-size:1em;
            overflow-wrap: break-word;
            font-family: 'Source Sans Pro Regular';
          }
          #carrusel-manual article .description-summary .description-container ul{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
          }
          #carrusel-manual article .description-summary .description-container ul li{
            display: inline-flex;
            margin-left:5px; 
          }
            #carrusel-manual article .description-summary .description-container ul li a{
              color:#F65454;
              padding:5px 8px;
              font-size: .8em;
              border-radius: 50%;
              border:solid 2px #F65454;
            }
            #carrusel-manual article .description-summary .description-container ul li a:hover{
              color:rgba(255,255,255,.8);
              border:solid 2px rgba(255,255,255,.8);
              transition: all .5s ease;
              -webkit-transition: all .5s ease ;
              -moz-transition: all .5s ease ;
              -ms-transition: all .5s ease ;
              -o-transition:  all .5s ease;
            }
        #carrusel-manual + .indicadores{
          bottom:0%;
        }
          #carrusel-manual + .indicadores span{
            width:60px;
            height:35px;
            -webkit-box-shadow: 0px 2px 0px 0px #F65454;
            -moz-box-shadow: 0px 2px 0px 0px #F65454;
            box-shadow: 0px 2px 0px 0px #F65454;
            transition: all .5s ease;
            -webkit-transition: all .5s ease ;
            -moz-transition: all .5s ease ;
            -ms-transition: all .5s ease ;
            -o-transition:  all .5s ease;
          }
            #carrusel-manual + .indicadores span img{
             width: 100%;
            }
            #carrusel-manual + .indicadores span.iactive{
              -webkit-box-shadow: 0px 4px 0px 0px #F65454;
              -moz-box-shadow: 0px 4px 0px 0px #F65454;
              box-shadow: 0px 4px 0px 0px #F65454;
              transition: all .5s ease;
              -webkit-transition: all .5s ease ;
              -moz-transition: all .5s ease ;
              -ms-transition: all .5s ease ;
              -o-transition:  all .5s ease;
            }
/*Estilos de las utlimas canciones de la parte principal*/
  #carrusel-manual-alternative{
    width: 70%;
  }
    #carrusel-manual-alternative article{
      width: 100%;
      height: auto;
      display: inline-flex;
      justify-content: space-between;
    }
    #carrusel-manual-alternative article a{
      width: 25%;
      height: auto;
    }
      #carrusel-manual-alternative article a img{
        width: 100%;
        height: 100%;
      }
    #carrusel-manual-alternative article div{
      width: 72%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
      #carrusel-manual-alternative article div h3{
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 50px;
        height: 20px;
        font-family: 'Source Sans Pro Regular';
        color:rgba(255,255,255,.8);
        position:relative;
        font-size:25px;
      }
        #carrusel-manual-alternative article div h3:after{
          content:"";
          top:0;
          left:0;
          width: 40px;
          position: absolute;
          border-right:20px solid transparent;
          border-top:20px solid #F65454;
        }
      #carrusel-manual-alternative article div h1{
        width: 100%;
        height: auto;
        font-family: 'Source Sans Pro Regular';
        color:rgba(255,255,255,.8);
        font-size: 2.8em;
      }
      #carrusel-manual-alternative article div hr{
        margin-top:10px;
        margin-bottom: 5px;
        width: 100%;
        height:2px; 
        background-color:rgba(255,255,255,.4); 
        border:none; 
        position: relative;
        overflow: visible;
      }
        #carrusel-manual-alternative article div h3 + hr:after{
          content: "";
          left: 0;
          top:0;
          position: absolute;
          width: 40%;
          border-right: 5px solid transparent;
          border-top:4px solid #F65454;
        }
        #carrusel-manual-alternative article div iframe{
          width: 100%;
          margin-top: 20px;
        }
        #carrusel-manual-alternative + .indicadores{
          bottom:0%;
        }
          #carrusel-manual-alternative + .indicadores span{
            width:60px;
            height:35px;
            -webkit-box-shadow: 0px 2px 0px 0px #F65454;
            -moz-box-shadow: 0px 2px 0px 0px #F65454;
            box-shadow: 0px 2px 0px 0px #F65454;
            transition: all .5s ease;
            -webkit-transition: all .5s ease ;
            -moz-transition: all .5s ease ;
            -ms-transition: all .5s ease ;
            -o-transition:  all .5s ease;
          }
            #carrusel-manual-alternative + .indicadores span img{
             width: 100%;
            }
            #carrusel-manual-alternative + .indicadores span.iactive{
              -webkit-box-shadow: 0px 4px 0px 0px #F65454;
              -moz-box-shadow: 0px 4px 0px 0px #F65454;
              box-shadow: 0px 4px 0px 0px #F65454;
              transition: all .5s ease;
              -webkit-transition: all .5s ease ;
              -moz-transition: all .5s ease ;
              -ms-transition: all .5s ease ;
              -o-transition:  all .5s ease;
            }
/*Estilos de las noticias de la parte principal*/
  #noticias-principal .fondo-container .fondo-model{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    #noticias-principal .fondo-container .fondo-model article{
      width: 32%;
      height: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      position: relative;
      -webkit-box-shadow: 0px -1px 0px 0px rgba(255,255,255,.7);
      -moz-box-shadow: 0px -1px 0px 0px rgba(255,255,255,.7);
      box-shadow: 0px -1px 0px 0px rgba(255,255,255,.7);
    } 
    #noticias-principal .fondo-container .fondo-model article:before{
      content:"";
      position: absolute;
      left: 0;
      top:-1px;
      height: 1px;
      background: #F65454;
      width: 10%;
    }
      #noticias-principal .fondo-container .fondo-model article span{
        width: 100%;
        height: 6%;
        color:rgba(255,255,255,.8);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: .9em;
        font-family: 'Source Sans Pro Regular';
      }
      #noticias-principal .fondo-container .fondo-model article .imagen{
        width: 100%;
        height: 47%;
      }
        #noticias-principal .fondo-container .fondo-model article .imagen img{
          display: block;
          width: 100%;
          height: 100%;
        }
        #noticias-principal .fondo-container .fondo-model article div{
          width: 100%;
          height: 47%;
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          justify-content: space-between;
          padding:5% 5%;
          color:rgba(255,255,255,.8);
          background:rgba(255,255, 255,.08);
        }
        #noticias-principal .fondo-container .fondo-model article div a{
          color:rgba(255,255,255,.8);
        }
        #noticias-principal .fondo-container .fondo-model article div .titulo{
          width: 100%;
          height: 25%;
          font-size:1.8em;
          font-family: 'Source Sans Pro Regular';
          letter-spacing: 1px;
        }
        #noticias-principal .fondo-container .fondo-model article div .titulo:hover{
          color:#F65454;
          transition: all .5s ease;
          -webkit-transition: all .5s ease ;
          -moz-transition: all .5s ease ;
          -ms-transition: all .5s ease ;
          -o-transition:  all .5s ease;
        }
        #noticias-principal .fondo-container .fondo-model article div p{
          width: 100%;
          height: 50%;
        }
        #noticias-principal .fondo-container .fondo-model article div .enlace{
          width: auto;
          height: 15%;
          padding:5px;
          display: flex;
          align-items: center;
          font-size: .9em;
          background: #F65454;
        }
        #noticias-principal .fondo-container .fondo-model article div .enlace:hover{
          color: #F65454;
          background:#fff;
          transition: all .5s ease;
          -webkit-transition: all .5s ease ;
          -moz-transition: all .5s ease ;
          -ms-transition: all .5s ease ;
          -o-transition:  all .5s ease;
        }
/*Estilos de galeria de la parte principal*/
  #galeria-principal .fondo-container .fondo-model{
    width: 85%;
    height: 70%;
  }
    #galeria-principal .fondo-container .fondo-model article{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
      #galeria-principal .fondo-container .fondo-model article a{
        display: inline-flex;
        position: relative;
        overflow: hidden;
      }
        #galeria-principal .fondo-container .fondo-model article a img{
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .5s ease;
          -webkit-transition: all .5s ease ;
          -moz-transition: all .5s ease ;
          -ms-transition: all .5s ease ;
          -o-transition:  all .5s ease;
        }
        #galeria-principal .fondo-container .fondo-model article a span{
          position: absolute;
          bottom: -100%;
          width: 100%;
          padding:20px 20px;
          background:rgba(0,0,0,.8);
          color:rgba(255,255,255,.8);
          letter-spacing: 1px;
          font-family: 'Source Sans Pro Regular';
          transition: all .2s ease;
          -webkit-transition: all .2s ease ;
          -moz-transition: all .2s ease ;
          -ms-transition: all .2s ease ;
          -o-transition:  all .2s ease;
        }
        #galeria-principal .fondo-container .fondo-model article .bigwidth{
          width: 35%;
        }
        #galeria-principal .fondo-container .fondo-model article .superwidth{
          width: 30%;
        }
        #galeria-principal .fondo-container .fondo-model article .normalwidth{
          width: 28%;
        }
        #galeria-principal .fondo-container .fondo-model article .miniwidth{
          width: 24%;
        }
        #galeria-principal .fondo-container .fondo-model article .normalheigth{
          height: 220px;
        }
        #galeria-principal .fondo-container .fondo-model article .miniheigth{
          height: 180px;
        }
        #galeria-principal .fondo-container .fondo-model article a:hover img{
          transform: scaleY(1.1);
          transition: all .5s ease;
          -webkit-transition: all .5s ease ;
          -moz-transition: all .5s ease ;
          -ms-transition: all .5s ease ;
          -o-transition:  all .5s ease;
        }
    #galeria-principal .fondo-container .fondo-model article a:hover span{
      bottom: 0;
      transition: all .5s ease;
      -webkit-transition: all .5s ease ;
      -moz-transition: all .5s ease ;
      -ms-transition: all .5s ease ;
      -o-transition:  all .5s ease;
    }

/*Estilos de contacto de la parte principal*/
  #contacto-principal .fondo-container{
    background:rgba(21, 0, 93,.7) !important;
  }
    #contacto-principal .fondo-container:before{
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: 
      radial-gradient(#000 1%,transparent 18%);
      background-size:5px 5px;
    }
      #contacto-principal .fondo-container .fondo-model{
        width: 70%;
        height: 40%;
        display: flex;
        z-index: 0;
        justify-content: space-between;
      }
        #contacto-principal .fondo-container .fondo-model article{
          display: inline-flex;
          width: 48%;
          flex-wrap: wrap;
        }
        #contacto-principal .fondo-container .fondo-model article h1{
          width: 100%;
          height: 40px;
          color:rgba(255,255,255,.8);
          font-size: 1.5em;
          position: relative;
          font-family: 'Source Sans Pro Regular';
          -webkit-box-shadow: 0px 2px 0px 0px rgba(255,255,255,.7);
          -moz-box-shadow: 0px 2px 0px 0px rgba(255,255,255,.7);
          box-shadow: 0px 2px 0px 0px rgba(255,255,255,.7);
        }
        #contacto-principal .fondo-container .fondo-model article h1:after{
          content:"";
          position: absolute;
          left: 0;
          bottom:-2px;
          height: 2px;
          background: #F65454;
          width: 50%;
        }  
        #contacto-principal .fondo-container .fondo-model article p{
          width: 100%;
          font-size: 1.4em;
          color:rgba(255,255,255,.8);
          font-family: 'Source Sans Pro Regular';
        }
          #contacto-principal .fondo-container .fondo-model article p a{
            color:#F65454;
            font-family: 'Source Sans Pro Regular';
          }
        #contacto-principal .fondo-container .fondo-model article form{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
          #contacto-principal .fondo-container .fondo-model article form input, #contacto-principal .fondo-container .fondo-model article form button{
            width: 100%;
            padding:15px 20px;
            border-radius: 5px;
            font-size: 1.2em;
            font-family: 'Source Sans Pro Regular';
          }
          #contacto-principal .fondo-container .fondo-model article form input{
            background: rgba(255,255,255,.7);
            color:#303030;
          } 
          #contacto-principal .fondo-container .fondo-model article form button{
            background:#F65454;
            color:#fff;
            letter-spacing: 1.5px;
            cursor: pointer;
          }
/*Estilos de pie de la parte principal y secundario*/
  #pie-principal .fondo-container{
    width: 100%;
    background:none !important;
  }
    #pie-principal .fondo-container .fondo-model{
      width: 85%;
      height: auto;
      display: flex;
      justify-content: space-between;
    }
      #pie-principal .fondo-container .fondo-model article{
        width: 23%;
        height: auto;
        display: inline-flex;
        flex-wrap: wrap;
        border-bottom: solid 1px rgba(255,255,255,.7);
      }
      #pie-principal .fondo-container .fondo-model article > div{
        width: 100%;
        background:#F65454;
        margin-bottom: 10px;
      }
        #pie-principal .fondo-container .fondo-model article > div h2{
          background:#111111;
          color:rgba(255,255,255,.8);
          font-size: 1.2em;
          display: table;
          padding-right: 10px;
        }
      #pie-principal .fondo-container .fondo-model a{
        color:rgba(255,255,255,.7);
      }
      #pie-principal .fondo-container .fondo-model a:hover{
        color: #F65454;
      }
      #pie-principal .fondo-container .fondo-model article > a{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px rgba(255,255,255,.7);
        border-bottom-style: dotted;
      }
      #pie-principal .fondo-container .fondo-model article > div + a{
        border-top:solid 1px rgba(255,255,255,.7);
      }
        #pie-principal .fondo-container .fondo-model article > a img{
          width: 18%;
          height: 75%;
        }
        #pie-principal .fondo-container .fondo-model article > a div{
          width: 75%;
          height: 75%;
        }
        #pie-principal .fondo-container .fondo-model article > a div h3{
          width: 100%;
          height: 50%;
          font-family: 'Source Sans Pro Light';
        }
        #pie-principal .fondo-container .fondo-model article > a div span{
          width: 100%;
          height: 50%;
          font-size: .95em;
          font-family: 'Source Sans Pro Regular';
        }
      #pie-principal .fondo-container .fondo-model article > span{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: .9em;
      }