    .division-alterno-slider{
        overflow: hidden;
        width: 100%;
        position: relative;
    }
    .type-4{
        width: 2700px;
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;     
    }
    .type-4 > article {
        width: 450px;
        display: flex;
        justify-content: center;
        height: 300px;
    }
        .type-4 > article > div{
            width: 98%;
            height: 100%;
            display: block;
        }
            .type-4 > article > div img{
                width: 100%;
                height: 100%;
                display: block;
            }
    .division-alterno-botones{
        margin:auto;
    }
        .division-alterno-botones i{
            padding:5px 9px;
            border:solid 1px rgba(84, 84, 84,.7);
            color:rgba(84, 84, 84,.7);
            cursor: pointer;
        }
            .division-alterno-botones i:hover{
                border:solid 1px #545454;
                color:#545454;
            }
/*Division alterna container*/
.division-alterno-secundario{
    width: 84%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .division-alterno-secundario > div{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        margin-bottom: 60px;
    }
        .division-alterno-secundario > div > p{
            width: 100%;
        }
    .division-alterno-secundario .medium{
        width: 66%;
    }
    .division-alterno-secundario .small{
        width: 30%;
    }
            .division-alterno-secundario .small i{
                margin-right: 10px;
                font-size: .5em;
                color:#F17D16;
                margin-top:5px;
                width: auto;
            }
            .division-alterno-secundario .small strong{
                margin-right: 10px;
                color:#444444;
            }
            .division-alterno-secundario > div > section{
                display: flex;
                justify-content: space-between;
                font-family: 'PT Sans Regular';
                width: 100%;
                color:#545454;
            }
            .division-alterno-secundario > div .sec-details{
                padding:10px 10px;
                border-bottom:solid 1px rgba(86, 86, 86,.4);
            }
            .division-alterno-secundario > div > section span{
                width: 95%;
            }
                .division-alterno-secundario > div > section .comi{
                    font-size: 2em;
                    color:rgba(86, 86, 86,.4);
                }
               .division-alterno-secundario > .medium > section .comi{
                   width: 8%;
               }
               .division-alterno-secundario > .medium > section .p-comi{
                   width: 92%;
               }
               .division-alterno-secundario > .small > section .comi{
                   width: 18%;
               }
               .division-alterno-secundario > .small > section .p-comi{
                   width: 82%;
               }
@media screen and (min-width:100px) and (max-width:480px){
    .division-alterno-secundario{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
        .division-alterno-secundario > div{
            width: 100% !important;
        }
            .division-alterno-secundario > div section .p-comi{
                width: 82% !important;
            }
            .division-alterno-secundario > div section .comi{
                width: 18% !important;
            }
}